<h1>Books</h1>

<% books.books.forEach(function(book) { %>
  <div>
    <h2>
      <a href="/books/<%= book.id %>">
        <%= book.title %>
      </a>
    </h2>
    <p>
      <%= book.author.name %>
    </p>
  </div>
<% }) %>