<h2>Add a New Book:</h2>

<form action="/books" method="POST">
    <div>
        <label for="bookTitle">Title:</label>
        <input type="text" id="bookTitle" name="bookTitle" required>
    </div>
    <div>
        <label for="authorName">Author:</label>
        <input type="text" id="authorName" name="authorName" required>
    </div>
</form>