<h2>Add a New Book:</h2>

<form action="/books" method="POST">
    <div>
        <label for="title">Title:</label> 
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="authorName">Author:</label>
        <select id="authorName" name="authorId" required>
            <% authors.forEach(function(author){ %>
               <option value="<%= author.id %>"> <%= author.name %></option>
            <% }) %>
       </select>
    </div>
    <input type="submit">
</form>