<div class="page-alignment">
    <h1>Welcome!</h1>
    <p>Log in to add authors and books to our database, then visit your profile to create a new TBR List.</p>

    <img id="stack-of-books" src="https://i.imgur.com/4M9b29h.jpg">
</div>

<footer>Image Credit: <a href="https://www.freevector.com/stack-of-books-clipart-vector-30222">FreeVector.com</a></footer>