<h2>Create a New TBR List:</h2>

<form action="/tbrLists" method="POST">
    <div>
        <label for="listTitle">Title:</label>
        <input type="text" id="listTitle" name="listTitle" required>
    </div>
    <input type="submit">
</form>